.buttonDiv {
  margin:3%;
  flex-wrap: wrap;
  color:white;
  text-align: center;
}

.cardDiv {
  display: flex;
  flex-wrap: wrap;
  background-color: #EBE9E9;
  border-radius: 7px;
  height: 500px;
  padding: 20px;
  margin: 3%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
  background-color: #F5F5F5;
}

/* for firefox */
scrollbar {
  width: 0;
  background-color: #F5F5F5;
}

.typo1{
  float: left;
  padding: 4px;
  background-color: #3E7BC0;
  border-radius: 5px;
  text-align: center;
}

.typo2{
  float: right;
  padding: 4px;
  background-color: #3E7BC0;
  border-radius: 5px;
}

.card{
  flex: 0 0 280px; 
  margin: 20px;
  margin-left: 33px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 12px!important;
  border: 2px solid white;
  background-color: white(45, 45, 85)!important;
  color: white !important;
  height: 200px!important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.hash1{
  padding: 10px;
  background-color: #3E7BC0;
  border-radius: 6px;
}

.hash2{
  padding: 10px;
  background-color: #3E7BC0;
  border-radius: 6px;
}

.hashDiv{
  background-color: #EBE9E9;
  padding: 10px;
  border-radius: 6px;
  height: 100px;
  margin: 12px 5px 5px 5px ;
}

.hashDivPrime{
  background-color: #EBE9E9;
  padding: 10px;
  border-radius: 6px;
  height: 120px;
  margin: 12px 5px 5px 5px ;
}

.modal{
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 400px;
  background-color: #EBE9E9;
  border-radius: 12px;
  padding:10px;
  color: white!important;
}

.img__img{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 10%
}

.img__wrap {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 10%
}

.img__img:hover{
  cursor: pointer;
}

.img__description {
  position: absolute;
  background: rgba(44, 46, 47, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding:3px;
  margin:30px;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible ;
  opacity: 1;
}